
body {
    background: #282828;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ebdbb2;
}

button {
  background: #b8bb26;
  color: #282828;
  border: 1px solid #928374;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

button:hover {
  background: #fabd2f;
  color: #282828;
  border: 1px solid #928374;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

button:active {
  background: #fb4934;
  color: #282828;
  border: 1px solid #928374;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

a {
  color: #b8bb26;
  text-decoration: none;
}

a:hover {
  color: #fabd2f;
  text-decoration: none;
}

a:active {
  color: #fb4934;
  text-decoration: none;
}

strong {
  color: #83a598;
}